#sideNav {
  animation: sidebarMobileAnimation .5s forwards 0s linear;
  background-color: desaturate(darken($primary, 30%), 30%) !important;
  .navbar-brand {}
  .navbar-nav {
    .nav-item .nav-link {
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      padding: 1rem 0;
      font-size: 1.2rem;
      
    }
    .nav-item:not(:first-child) {
      .nav-link {
        border-top: 2px solid fade-out($white, 0.8);
      }
    }
  }
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    animation: sidebarAnimation .5s forwards 0s linear;

    display: flex;
    flex-direction: column;

    width: $sidebar-base-width;
    height: 100vh;
    .navbar-brand {
      display: flex;

      margin: auto auto 0;
      padding: 0.5rem;
      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out($white, 0.8);
      }
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            padding: .5rem 0;
            font-size: 1rem;
            border-top: 0px;
            display: block;
          }
        }
      }
    }
  }
}
