<section class="resume-section p-3 p-lg-5 d-flex flex-column slow-fadeIn">
  <div class="my-auto">
    <section class="content" [innerHTML]="(headline$ | async)?.content"></section>
    <section class="content" [innerHTML]="(about$ | async)?.content"></section>
    <section class="content" [innerHTML]="(lookingFor$ | async)?.content"></section>
    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
        <a href="https://github.com/LepuavkoDV" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
      </li>
    </ul>
  </div>
</section>
